/* responsive for iPhone 14 & 15 Pro - 1.....small device */

@media screen and (max-width: 576px) {
    /* nav related styles */
    nav{
        max-width: 365px;
        margin: 0 auto;
        padding-top: 20px;
        padding-left: 30px; 
    }
    .navbar{
        margin-bottom: 50px;
    }
    .logo{
        width: 63px;
        height: 38px;
    }
    .nav-links{
        display: none;
    }
    /* banner related styles */
    .banner{
        margin-top: 50px;
        margin-bottom: 50px;
        flex-direction: column-reverse;
    }
    .banner-content{
        margin-top: 30px;
        margin-left: 16px;
        margin-right: 16px; 
    }
     .banner-title ,
     .section-title{
        font-size: 2rem;
        margin-top: 0px;
     }
     .banner-description ,
     .section-description{
        font-size: 1rem;
    }

    /* our plants related styles */
    .section-description{
        margin-left: 25px;
        margin-right: 25px;
    }
} 